<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product</title>
    <link rel="stylesheet" href="/css/product.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <link rel="shortcut icon" href="./favicon_io/favicon.ico">
</head>

<body>
    <%- include("../includes/navbar.ejs") %>
    <div class="smallcontainer single-product">
        <div class="row">
            <div class="col2">
                <img src="/images/<%= listing.image %>" class="card-img-top show-img" alt="listing_image">


            </div>
            <div class="col2">
                <h1><%= listing.title %></h1>
                <h4>Rs <%= listing.price %></h4>
                <h6>*Terms and conditions applied <br>Read More</h6>
                <input type="number" id="quantityInput" value="1">
                <button id="addToCartBtn" class="btn">Add to Cart</button>


                
            </div>

        </div>

                <div class="col-8 offset-3">
                    <h3>Product details</h3>
                <br>
                <p class="description"><%= listing.description %> </p>
                    <hr />
                    
                    <h4>Leave a review</h4>
                    <form action="/listings/<%= listing.id %>/reviews" method="POST" novalidate class="needs-validation">
                        <div class="mb-3 mt-3">
                            <label for="rating" class="form-label">Rating</label>
                            <input type="range" min="1" max="5" id="rating" name="review[rating]" class="form-range" />
                        </div>
                        <div class="mb-3 mt-3">
                            <label for="comment" class="form-label">Comments</label>
                            <textarea name="review[comment]" id="comment" cols="30" rows="5" class="form-control" required></textarea>
                            <div class="invalid-feedback">
                                Please add some comments for review
                            </div>
                        </div>
                        <button class="btn btn-outline-dark">Submit</button>
                    </form>
                    
            
                    <hr />
            
                    <p><b> All reviews</b></p>    
                    <% for(review of listing.reviews) { %>
                        <div class="card col-5 ms-3 mb-3"> 
            <div class="card-body">
                <h5 class="card-title"><%= review.user%></h5>
                <p class="card-text"><%= review.comment %></p>
                <p class="card-text"><%= review.rating %>stars</p>
            </div>
             </div> 
             <% } %>
                </div> 
                
            </div>